<?xml version="1.0" encoding="UTF-8"?>
<config name="AutoLab">
    
    <debug suppressLabelPrint="false" suppressOutputMessage="false"/>
    
    <watchDog port="8000"/>
    
    <email enabled="false"/>
    
    <updateURL>file:/myupdatepath/updates.xml</updateURL>
    <updateMode>MANUAL</updateMode>
    
    <!-- Folders -->
    
    <paths>
        <labelSync path="./remote_labels" frequency="120"/>
        <dataSet path="./remote_dataset"/>
        <output path="./interface/output/ProdDec"/>
        <ssccSequence path=""/>
    </paths>
    
    <!-- Label Quantities -->
    
    <labels>
        <pallet ssccPerPallet="1" labelsPerSSCC="2"/>
        <semiPallet ssccPerPallet="2" labelsPerSSCC="2"/>
    </labels>
    
    <!-- Customer Specific Batch Formats -->
    
    <batchFormats>
        <customer id="SELF" pattern="{YEAR1}{JULIAN_DAY}{PROCESS_ORDER}"/>
    </batchFormats>
    
    <!-- Copy of some System Keys normally read from database (jdbc) -->
    
    <controls>
        <system key="HOST REF" value="DEMO"/>
        <system key="PLANT" value="1234"/>
        <system key="BATCH FORMAT" value="{YEAR1}{JULIAN_DAY}{PROCESS_ORDER}"/>
        <system key="BATCH EXPIRY TIME" value="-"/>     
        <system key="LABEL_HEADER_COMMENT" value="Free format text"/>
        <system key="EXPIRY DATE MODE" value="SSCC"/>
        <system key="SSCC AUTO CONFIRM" value="Y"/>
    </controls>
    
    <!-- URL of Internet Web Service used to display label on screen -->
    
    <labelary enabled="false">
    	<url>http://api.labelary.com/v1/printers/8dpmm/labels/6x9/0/</url>
    </labelary>
    
    <productionLines>
        
        <productionLine name="LINE 1" enabled="Y"> 
            <modbus name="ADAM-6050">
                <ipAddress>127.0.0.1</ipAddress>
                <portNumber>502</portNumber>
                <coilAddress>1</coilAddress>
                <timeout>4000</timeout>
                <retryDelay>1000</retryDelay>
                <coilTriggerValue>true</coilTriggerValue>
                <semiPalletCoilAddress>2</semiPalletCoilAddress>
            </modbus>
            <printer name="PRINTER 1"/>
            <SSCC filename="PRINTER 1.xml"/>
        </productionLine>
        
       <productionLine name="LINE 2" enabled="Y"> 
            <modbus name="ADAM-6050">
                <ipAddress>127.0.0.1</ipAddress>
                <portNumber>502</portNumber>
                <coilAddress>3</coilAddress>
                <timeout>4000</timeout>
                <retryDelay>1000</retryDelay>
                <coilTriggerValue>true</coilTriggerValue>
                <semiPalletCoilAddress>4</semiPalletCoilAddress>
            </modbus> 
            <printer name="PRINTER 2"/>
            <SSCC filename="PRINTER 2.xml"/>
        </productionLine>

    </productionLines>
    
    <!-- Alias field names so we can use unmodified .lbl templayte file -->  
    
    <fieldNamesLookup>
        <fieldName csv="MATERIAL_DESCRIPTION" db="DESCRIPTION"/>
        <fieldName csv="PROD_EAN" db="EAN"/>
        <fieldName csv="PROD_UOM" db="UOM"/>
        <fieldName csv="PROD_QUANTITY" db="QUANTITY"/>
        <fieldName csv="DATE_OF_MANUFACTURE" db="DATE_CREATED"/>
    </fieldNamesLookup>
        
    <!-- Make unmodified copy of Quantity for use in ProdDec XML -->   
    
     <clone>
         <field from="QUANTITY" to="QUANTITY_DECIMALS"/>
     </clone>   
     
    <!-- Overide format of Quantity so we can use in ZPL -->   
    
    <formats>
        <field name="QUANTITY" format="0000"/>
        <field name="BASE_QUANTITY" format="0000"/>
    </formats>
    
</config>
